<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:"http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.phone" android:versionCode="19" android:versionName="4.4.2-5.6.25" package="com.android.providers.telephony" coreApp="true">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.miui.yellowpage.permission.ACCESS_YELLOWPAGE" />
    <application android:label="@string/app_label" android:icon="@drawable/ic_launcher_phone" android:allowClearUserData="false" android:process="com.android.phone" android:allowBackup="false">
        <provider android:name="TelephonyProvider" android:exported="true" android:multiprocess="false" android:authorities="telephony" />
        <provider android:label="@string/sms_provider_label" android:name="SmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS" android:exported="true" android:multiprocess="false" android:authorities="sms" />
        <provider android:label="@string/mms_provider_label" android:name="MmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS" android:exported="true" android:multiprocess="false" android:authorities="mms">
            <grant-uri-permission android:pathPrefix="/part/" />
            <grant-uri-permission android:pathPrefix="/drm/" />
        </provider>
        <provider android:name="FirewallProvider" android:exported="true" android:multiprocess="true" android:authorities="firewall" />
        <provider android:label="@string/mms_sms_provider_label" android:name="MmsSmsProvider" android:readPermission="android.permission.READ_SMS" android:writePermission="android.permission.WRITE_SMS" android:exported="true" android:multiprocess="false" android:authorities="mms-sms" />
        <provider android:name="FirewallProvider" android:multiprocess="true" android:authorities="firewall" />
        <provider android:name="HmsProvider" android:exported="true" android:multiprocess="true" android:authorities="hms" />
        <receiver android:name="AccountsChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_PRE_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name=".MakeMmsPreviewService" android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.MAKE_MMS_PREVIEW" />
            </intent-filter>
        </service>
    </application>
</manifest>
